.aside-content-column{
  .container{
    max-width: 1920px;
    display: flex;
  }
  &__gradient{
    flex: 0;
    min-width: 480px;
    @include gradient(#F0F9FA, #FFEFF0);
  }
  &__content{
    flex: 1;
  }
}

@media screen and (min-width: 1200px){
  .aside-content-column .container {
    max-width: 1920px;
  }
}
