$transition: all .3s linear;

// Colors
$white: #fff;
$black: #444444;
$green-light: #F0FAFB;
$green: #1BB3BC;
$gold: #FFD75C;
$red: #E02020;
$dark-red: #9B446A;
$gray: #6D7278;
$gray-light: #F4F5F3;

//radius
$radius: 9px;
