extends layout/main

block variables
  -var title = 'All submissions'

block bottom-header
  .bottom(style="background-image: url(img/main-header-bootom.jpg)")
    .container.d-flex.align-items-end.justify-content-center
      button.btn Submit

block content
  .state-view-container
    .container
      h1 Edition 2020 | We are all innovators!
      h2 All Submissions

      section
        form(action="#").block-line-container
          .input.search
            input(type="search" placeholder="Search")

          .select
            select
              option(hidden) Country
              option Country 1
              option Country 2
              option Country 3

          .select
            select
              option(hidden) Category
              option Category 1
              option Category 2
              option Category 3

          .state-view-link
            button.view.btn-line(data-view="#view-table")
            .line
            button.view.btn-block(data-view="#view-grid")

        #view-grid.state-view-content.active
          .tabs-container
            .tabs-links.full-width
              a(href="#tab-1").tab-link.green.active All Phases
              a(href="#tab-2").tab-link.red Phase 1 | Emphatizing
              a(href="#tab-3").tab-link.dark-red Phase 2 | Defining

            .tabs-content
              #tab-1.tab-item.active
                .content-more(data-show="2")
                  .info-blocks
                    .info-blocks__item.wrap-more
                      .info-blocks__image(style="background-image: url(img/tab-item.jpg)")
                        h6.info-blocks__title-image Phase 1
                        button.info-blocks__like
                      h4.info-blocks__title(style="background-image: url(img/country.png)") Submission name
                      p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua

                      .tags
                        a(href="#") #Sustainability
                        a(href="#") #Green

                      a.link View details

                    .info-blocks__item.wrap-more.dark-red
                      .info-blocks__image(style="background-image: url(img/tab-item.jpg)")
                        h6.info-blocks__title-image Phase 1
                        button.info-blocks__like
                      h4.info-blocks__title(style="background-image: url(img/country.png)") Submission name
                      p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua

                      .tags
                        a(href="#") #Sustainability
                        a(href="#") #Green

                      a.link View details

                    .info-blocks__item.wrap-more
                      .info-blocks__image(style="background-image: url(img/tab-item.jpg)")
                        h6.info-blocks__title-image Phase 1
                        button.info-blocks__like
                      h4.info-blocks__title(style="background-image: url(img/country.png)") Submission name
                      p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua

                      .tags
                        a(href="#") #Sustainability
                        a(href="#") #Green

                      a.link View details

                    .info-blocks__item.wrap-more
                      .info-blocks__image(style="background-image: url(img/tab-item.jpg)")
                        .info-blocks__title Phase 1
                        button.info-blocks__like
                      h4.info-blocks__title(style="background-image: url(img/country.png)") Submission name
                      p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua

                      .tags
                        a(href="#") #Sustainability
                        a(href="#") #Green

                      a.link View details

                    .info-blocks__item.wrap-more
                      .info-blocks__image(style="background-image: url(img/tab-item.jpg)")
                        h6.info-blocks__title-image Phase 1
                        button.info-blocks__like
                      h4.info-blocks__title(style="background-image: url(img/country.png)") Submission name
                      p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua

                      .tags
                        a(href="#") #Sustainability
                        a(href="#") #Green

                      a.link View details

                    .info-blocks__item.wrap-more.dark-red
                      .info-blocks__image(style="background-image: url(img/tab-item.jpg)")
                        h6.info-blocks__title-image Phase 1
                        button.info-blocks__like
                      h4.info-blocks__title(style="background-image: url(img/country.png)") Submission name
                      p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua

                      .tags
                        a(href="#") #Sustainability
                        a(href="#") #Green

                      a.link View details

                    .info-blocks__item.wrap-more
                      .info-blocks__image(style="background-image: url(img/tab-item.jpg)")
                        h6.info-blocks__title-image Phase 1
                        button.info-blocks__like
                      h4.info-blocks__title(style="background-image: url(img/country.png)") Submission name
                      p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua

                      .tags
                        a(href="#") #Sustainability
                        a(href="#") #Green

                      a.link View details

                    .info-blocks__item.wrap-more
                      .info-blocks__image(style="background-image: url(img/tab-item.jpg)")
                        .info-blocks__title Phase 1
                        button.info-blocks__like
                      h4.info-blocks__title(style="background-image: url(img/country.png)") Submission name
                      p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua

                      .tags
                        a(href="#") #Sustainability
                        a(href="#") #Green

                      a.link View details

                    .info-blocks__item.wrap-more
                      .info-blocks__image(style="background-image: url(img/tab-item.jpg)")
                        h6.info-blocks__title-image Phase 1
                        button.info-blocks__like
                      h4.info-blocks__title(style="background-image: url(img/country.png)") Submission name
                      p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua

                      .tags
                        a(href="#") #Sustainability
                        a(href="#") #Green

                      a.link View details

                    .info-blocks__item.wrap-more.dark-red
                      .info-blocks__image(style="background-image: url(img/tab-item.jpg)")
                        h6.info-blocks__title-image Phase 1
                        button.info-blocks__like
                      h4.info-blocks__title(style="background-image: url(img/country.png)") Submission name
                      p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua

                      .tags
                        a(href="#") #Sustainability
                        a(href="#") #Green

                      a.link View details

                    .info-blocks__item.wrap-more
                      .info-blocks__image(style="background-image: url(img/tab-item.jpg)")
                        h6.info-blocks__title-image Phase 1
                        button.info-blocks__like
                      h4.info-blocks__title(style="background-image: url(img/country.png)") Submission name
                      p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua

                      .tags
                        a(href="#") #Sustainability
                        a(href="#") #Green

                      a.link View details

                    .info-blocks__item.wrap-more
                      .info-blocks__image(style="background-image: url(img/tab-item.jpg)")
                        .info-blocks__title Phase 1
                        button.info-blocks__like
                      h4.info-blocks__title(style="background-image: url(img/country.png)") Submission name
                      p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua

                      .tags
                        a(href="#") #Sustainability
                        a(href="#") #Green

                      a.link View details

                    .info-blocks__item.wrap-more
                      .info-blocks__image(style="background-image: url(img/tab-item.jpg)")
                        h6.info-blocks__title-image Phase 1
                        button.info-blocks__like
                      h4.info-blocks__title(style="background-image: url(img/country.png)") Submission name
                      p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua

                      .tags
                        a(href="#") #Sustainability
                        a(href="#") #Green

                      a.link View details

                    .info-blocks__item.wrap-more.dark-red
                      .info-blocks__image(style="background-image: url(img/tab-item.jpg)")
                        h6.info-blocks__title-image Phase 1
                        button.info-blocks__like
                      h4.info-blocks__title(style="background-image: url(img/country.png)") Submission name
                      p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua

                      .tags
                        a(href="#") #Sustainability
                        a(href="#") #Green

                      a.link View details

                    .info-blocks__item.wrap-more
                      .info-blocks__image(style="background-image: url(img/tab-item.jpg)")
                        h6.info-blocks__title-image Phase 1
                        button.info-blocks__like
                      h4.info-blocks__title(style="background-image: url(img/country.png)") Submission name
                      p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua

                      .tags
                        a(href="#") #Sustainability
                        a(href="#") #Green

                      a.link View details

                    .info-blocks__item.wrap-more
                      .info-blocks__image(style="background-image: url(img/tab-item.jpg)")
                        .info-blocks__title Phase 1
                        button.info-blocks__like
                      h4.info-blocks__title(style="background-image: url(img/country.png)") Submission name
                      p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua

                      .tags
                        a(href="#") #Sustainability
                        a(href="#") #Green

                      a.link View details

                    .info-blocks__item.wrap-more
                      .info-blocks__image(style="background-image: url(img/tab-item.jpg)")
                        h6.info-blocks__title-image Phase 1
                        button.info-blocks__like
                      h4.info-blocks__title(style="background-image: url(img/country.png)") Submission name
                      p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua

                      .tags
                        a(href="#") #Sustainability
                        a(href="#") #Green

                      a.link View details

                    .info-blocks__item.wrap-more.dark-red
                      .info-blocks__image(style="background-image: url(img/tab-item.jpg)")
                        h6.info-blocks__title-image Phase 1
                        button.info-blocks__like
                      h4.info-blocks__title(style="background-image: url(img/country.png)") Submission name
                      p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua

                      .tags
                        a(href="#") #Sustainability
                        a(href="#") #Green

                      a.link View details

                    .info-blocks__item.wrap-more
                      .info-blocks__image(style="background-image: url(img/tab-item.jpg)")
                        h6.info-blocks__title-image Phase 1
                        button.info-blocks__like
                      h4.info-blocks__title(style="background-image: url(img/country.png)") Submission name
                      p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua

                      .tags
                        a(href="#") #Sustainability
                        a(href="#") #Green

                      a.link View details

                    .info-blocks__item.wrap-more
                      .info-blocks__image(style="background-image: url(img/tab-item.jpg)")
                        .info-blocks__title Phase 1
                        button.info-blocks__like
                      h4.info-blocks__title(style="background-image: url(img/country.png)") Submission name
                      p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua

                      .tags
                        a(href="#") #Sustainability
                        a(href="#") #Green

                      a.link View details

                    .info-blocks__item.wrap-more
                      .info-blocks__image(style="background-image: url(img/tab-item.jpg)")
                        h6.info-blocks__title-image Phase 1
                        button.info-blocks__like
                      h4.info-blocks__title(style="background-image: url(img/country.png)") Submission name
                      p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua

                      .tags
                        a(href="#") #Sustainability
                        a(href="#") #Green

                      a.link View details

                    .info-blocks__item.wrap-more
                      .info-blocks__image(style="background-image: url(img/tab-item.jpg)")
                        .info-blocks__title Phase 1
                        button.info-blocks__like
                      h4.info-blocks__title(style="background-image: url(img/country.png)") Submission name
                      p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua

                      .tags
                        a(href="#") #Sustainability
                        a(href="#") #Green

                      a.link View details

                  .text-center
                    button.btn.line.show-more
                      | Ver más (
                      span.count-more
                      |  más)

              #tab-2.tab-item
                .content-more(data-show="5")
                  .info-blocks
                    .info-blocks__item.wrap-more
                      .info-blocks__image(style="background-image: url(img/tab-item.jpg)")
                        h6.info-blocks__title-image Phase 222
                        button.info-blocks__like
                      h4.info-blocks__title(style="background-image: url(img/country.png)") Submission name
                      p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua

                      .tags
                        a(href="#") #Sustainability
                        a(href="#") #Green

                      a.link View details

                    .info-blocks__item.wrap-more.dark-red
                      .info-blocks__image(style="background-image: url(img/tab-item.jpg)")
                        h6.info-blocks__title-image Phase 222
                        button.info-blocks__like
                      h4.info-blocks__title(style="background-image: url(img/country.png)") Submission name
                      p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua

                      .tags
                        a(href="#") #Sustainability
                        a(href="#") #Green

                      a.link View details

                    .info-blocks__item.wrap-more
                      .info-blocks__image(style="background-image: url(img/tab-item.jpg)")
                        h6.info-blocks__title-image Phase 222
                        button.info-blocks__like
                      h4.info-blocks__title(style="background-image: url(img/country.png)") Submission name
                      p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua

                      .tags
                        a(href="#") #Sustainability
                        a(href="#") #Green

                      a.link View details

                    .info-blocks__item.wrap-more
                      .info-blocks__image(style="background-image: url(img/tab-item.jpg)")
                        .info-blocks__title Phase 222
                        button.info-blocks__like
                      h4.info-blocks__title(style="background-image: url(img/country.png)") Submission name
                      p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua

                      .tags
                        a(href="#") #Sustainability
                        a(href="#") #Green

                      a.link View details

                    .info-blocks__item.wrap-more
                      .info-blocks__image(style="background-image: url(img/tab-item.jpg)")
                        h6.info-blocks__title-image Phase 222
                        button.info-blocks__like
                      h4.info-blocks__title(style="background-image: url(img/country.png)") Submission name
                      p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua

                      .tags
                        a(href="#") #Sustainability
                        a(href="#") #Green

                      a.link View details

                    .info-blocks__item.wrap-more.dark-red
                      .info-blocks__image(style="background-image: url(img/tab-item.jpg)")
                        h6.info-blocks__title-image Phase 222
                        button.info-blocks__like
                      h4.info-blocks__title(style="background-image: url(img/country.png)") Submission name
                      p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua

                      .tags
                        a(href="#") #Sustainability
                        a(href="#") #Green

                      a.link View details

                    .info-blocks__item.wrap-more
                      .info-blocks__image(style="background-image: url(img/tab-item.jpg)")
                        h6.info-blocks__title-image Phase 222
                        button.info-blocks__like
                      h4.info-blocks__title(style="background-image: url(img/country.png)") Submission name
                      p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua

                      .tags
                        a(href="#") #Sustainability
                        a(href="#") #Green

                      a.link View details

                    .info-blocks__item.wrap-more
                      .info-blocks__image(style="background-image: url(img/tab-item.jpg)")
                        .info-blocks__title Phase 222
                        button.info-blocks__like
                      h4.info-blocks__title(style="background-image: url(img/country.png)") Submission name
                      p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua

                      .tags
                        a(href="#") #Sustainability
                        a(href="#") #Green

                      a.link View details

                    .info-blocks__item.wrap-more
                      .info-blocks__image(style="background-image: url(img/tab-item.jpg)")
                        h6.info-blocks__title-image Phase 222
                        button.info-blocks__like
                      h4.info-blocks__title(style="background-image: url(img/country.png)") Submission name
                      p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua

                      .tags
                        a(href="#") #Sustainability
                        a(href="#") #Green

                      a.link View details

                    .info-blocks__item.wrap-more.dark-red
                      .info-blocks__image(style="background-image: url(img/tab-item.jpg)")
                        h6.info-blocks__title-image Phase 222
                        button.info-blocks__like
                      h4.info-blocks__title(style="background-image: url(img/country.png)") Submission name
                      p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua

                      .tags
                        a(href="#") #Sustainability
                        a(href="#") #Green

                      a.link View details

                    .info-blocks__item.wrap-more
                      .info-blocks__image(style="background-image: url(img/tab-item.jpg)")
                        h6.info-blocks__title-image Phase 222
                        button.info-blocks__like
                      h4.info-blocks__title(style="background-image: url(img/country.png)") Submission name
                      p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua

                      .tags
                        a(href="#") #Sustainability
                        a(href="#") #Green

                      a.link View details

                    .info-blocks__item.wrap-more
                      .info-blocks__image(style="background-image: url(img/tab-item.jpg)")
                        .info-blocks__title Phase 222
                        button.info-blocks__like
                      h4.info-blocks__title(style="background-image: url(img/country.png)") Submission name
                      p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua

                      .tags
                        a(href="#") #Sustainability
                        a(href="#") #Green

                      a.link View details

                    .info-blocks__item.wrap-more.dark-red
                      .info-blocks__image(style="background-image: url(img/tab-item.jpg)")
                        h6.info-blocks__title-image Phase 1
                        button.info-blocks__like
                      h4.info-blocks__title(style="background-image: url(img/country.png)") Submission name
                      p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua

                      .tags
                        a(href="#") #Sustainability
                        a(href="#") #Green

                      a.link View details

                    .info-blocks__item.wrap-more
                      .info-blocks__image(style="background-image: url(img/tab-item.jpg)")
                        h6.info-blocks__title-image Phase 1
                        button.info-blocks__like
                      h4.info-blocks__title(style="background-image: url(img/country.png)") Submission name
                      p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua

                      .tags
                        a(href="#") #Sustainability
                        a(href="#") #Green

                      a.link View details

                    .info-blocks__item.wrap-more
                      .info-blocks__image(style="background-image: url(img/tab-item.jpg)")
                        .info-blocks__title Phase 1
                        button.info-blocks__like
                      h4.info-blocks__title(style="background-image: url(img/country.png)") Submission name
                      p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua

                      .tags
                        a(href="#") #Sustainability
                        a(href="#") #Green

                      a.link View details

                    .info-blocks__item.wrap-more
                      .info-blocks__image(style="background-image: url(img/tab-item.jpg)")
                        h6.info-blocks__title-image Phase 1
                        button.info-blocks__like
                      h4.info-blocks__title(style="background-image: url(img/country.png)") Submission name
                      p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua

                      .tags
                        a(href="#") #Sustainability
                        a(href="#") #Green

                      a.link View details

                    .info-blocks__item.wrap-more
                      .info-blocks__image(style="background-image: url(img/tab-item.jpg)")
                        .info-blocks__title Phase 1
                        button.info-blocks__like
                      h4.info-blocks__title(style="background-image: url(img/country.png)") Submission name
                      p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua

                      .tags
                        a(href="#") #Sustainability
                        a(href="#") #Green

                      a.link View details

                  .text-center
                    button.btn.line.show-more
                      | Ver más (
                      span.count-more
                      |  más)

              #tab-3.tab-item
                .content-more(data-show="7")
                  .info-blocks
                    .info-blocks__item.wrap-more
                      .info-blocks__image(style="background-image: url(img/tab-item.jpg)")
                        h6.info-blocks__title-image Phase 1
                        button.info-blocks__like
                      h4.info-blocks__title(style="background-image: url(img/country.png)") Submission name
                      p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua

                      .tags
                        a(href="#") #Sustainability
                        a(href="#") #Green

                      a.link View details

                    .info-blocks__item.wrap-more.dark-red
                      .info-blocks__image(style="background-image: url(img/tab-item.jpg)")
                        h6.info-blocks__title-image Phase 1
                        button.info-blocks__like
                      h4.info-blocks__title(style="background-image: url(img/country.png)") Submission name
                      p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua

                      .tags
                        a(href="#") #Sustainability
                        a(href="#") #Green

                      a.link View details

                    .info-blocks__item.wrap-more
                      .info-blocks__image(style="background-image: url(img/tab-item.jpg)")
                        h6.info-blocks__title-image Phase 1
                        button.info-blocks__like
                      h4.info-blocks__title(style="background-image: url(img/country.png)") Submission name
                      p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua

                      .tags
                        a(href="#") #Sustainability
                        a(href="#") #Green

                      a.link View details

                    .info-blocks__item.wrap-more
                      .info-blocks__image(style="background-image: url(img/tab-item.jpg)")
                        .info-blocks__title Phase 1
                        button.info-blocks__like
                      h4.info-blocks__title(style="background-image: url(img/country.png)") Submission name
                      p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua

                      .tags
                        a(href="#") #Sustainability
                        a(href="#") #Green

                      a.link View details

                    .info-blocks__item.wrap-more
                      .info-blocks__image(style="background-image: url(img/tab-item.jpg)")
                        h6.info-blocks__title-image Phase 1
                        button.info-blocks__like
                      h4.info-blocks__title(style="background-image: url(img/country.png)") Submission name
                      p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua

                      .tags
                        a(href="#") #Sustainability
                        a(href="#") #Green

                      a.link View details

                    .info-blocks__item.wrap-more.dark-red
                      .info-blocks__image(style="background-image: url(img/tab-item.jpg)")
                        h6.info-blocks__title-image Phase 1
                        button.info-blocks__like
                      h4.info-blocks__title(style="background-image: url(img/country.png)") Submission name
                      p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua

                      .tags
                        a(href="#") #Sustainability
                        a(href="#") #Green

                      a.link View details

                    .info-blocks__item.wrap-more
                      .info-blocks__image(style="background-image: url(img/tab-item.jpg)")
                        h6.info-blocks__title-image Phase 1
                        button.info-blocks__like
                      h4.info-blocks__title(style="background-image: url(img/country.png)") Submission name
                      p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua

                      .tags
                        a(href="#") #Sustainability
                        a(href="#") #Green

                      a.link View details

                    .info-blocks__item.wrap-more
                      .info-blocks__image(style="background-image: url(img/tab-item.jpg)")
                        .info-blocks__title Phase 1
                        button.info-blocks__like
                      h4.info-blocks__title(style="background-image: url(img/country.png)") Submission name
                      p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua

                      .tags
                        a(href="#") #Sustainability
                        a(href="#") #Green

                      a.link View details

                    .info-blocks__item.wrap-more
                      .info-blocks__image(style="background-image: url(img/tab-item.jpg)")
                        h6.info-blocks__title-image Phase 1
                        button.info-blocks__like
                      h4.info-blocks__title(style="background-image: url(img/country.png)") Submission name
                      p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua

                      .tags
                        a(href="#") #Sustainability
                        a(href="#") #Green

                      a.link View details

                    .info-blocks__item.wrap-more.dark-red
                      .info-blocks__image(style="background-image: url(img/tab-item.jpg)")
                        h6.info-blocks__title-image Phase 1
                        button.info-blocks__like
                      h4.info-blocks__title(style="background-image: url(img/country.png)") Submission name
                      p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua

                      .tags
                        a(href="#") #Sustainability
                        a(href="#") #Green

                      a.link View details

                    .info-blocks__item.wrap-more
                      .info-blocks__image(style="background-image: url(img/tab-item.jpg)")
                        h6.info-blocks__title-image Phase 1
                        button.info-blocks__like
                      h4.info-blocks__title(style="background-image: url(img/country.png)") Submission name
                      p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua

                      .tags
                        a(href="#") #Sustainability
                        a(href="#") #Green

                      a.link View details

                    .info-blocks__item.wrap-more
                      .info-blocks__image(style="background-image: url(img/tab-item.jpg)")
                        .info-blocks__title Phase 1
                        button.info-blocks__like
                      h4.info-blocks__title(style="background-image: url(img/country.png)") Submission name
                      p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua

                      .tags
                        a(href="#") #Sustainability
                        a(href="#") #Green

                      a.link View details

                    .info-blocks__item.wrap-more
                      .info-blocks__image(style="background-image: url(img/tab-item.jpg)")
                        h6.info-blocks__title-image Phase 1
                        button.info-blocks__like
                      h4.info-blocks__title(style="background-image: url(img/country.png)") Submission name
                      p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua

                      .tags
                        a(href="#") #Sustainability
                        a(href="#") #Green

                      a.link View details

                    .info-blocks__item.wrap-more.dark-red
                      .info-blocks__image(style="background-image: url(img/tab-item.jpg)")
                        h6.info-blocks__title-image Phase 1
                        button.info-blocks__like
                      h4.info-blocks__title(style="background-image: url(img/country.png)") Submission name
                      p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua

                      .tags
                        a(href="#") #Sustainability
                        a(href="#") #Green

                      a.link View details

                    .info-blocks__item.wrap-more
                      .info-blocks__image(style="background-image: url(img/tab-item.jpg)")
                        h6.info-blocks__title-image Phase 1
                        button.info-blocks__like
                      h4.info-blocks__title(style="background-image: url(img/country.png)") Submission name
                      p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua

                      .tags
                        a(href="#") #Sustainability
                        a(href="#") #Green

                      a.link View details

                    .info-blocks__item.wrap-more
                      .info-blocks__image(style="background-image: url(img/tab-item.jpg)")
                        .info-blocks__title Phase 1
                        button.info-blocks__like
                      h4.info-blocks__title(style="background-image: url(img/country.png)") Submission name
                      p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua

                      .tags
                        a(href="#") #Sustainability
                        a(href="#") #Green

                      a.link View details

                    .info-blocks__item.wrap-more
                      .info-blocks__image(style="background-image: url(img/tab-item.jpg)")
                        h6.info-blocks__title-image Phase 1
                        button.info-blocks__like
                      h4.info-blocks__title(style="background-image: url(img/country.png)") Submission name
                      p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua

                      .tags
                        a(href="#") #Sustainability
                        a(href="#") #Green

                      a.link View details

                    .info-blocks__item.wrap-more.dark-red
                      .info-blocks__image(style="background-image: url(img/tab-item.jpg)")
                        h6.info-blocks__title-image Phase 1
                        button.info-blocks__like
                      h4.info-blocks__title(style="background-image: url(img/country.png)") Submission name
                      p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua

                      .tags
                        a(href="#") #Sustainability
                        a(href="#") #Green

                      a.link View details

                    .info-blocks__item.wrap-more
                      .info-blocks__image(style="background-image: url(img/tab-item.jpg)")
                        h6.info-blocks__title-image Phase 1
                        button.info-blocks__like
                      h4.info-blocks__title(style="background-image: url(img/country.png)") Submission name
                      p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua

                      .tags
                        a(href="#") #Sustainability
                        a(href="#") #Green

                      a.link View details

                    .info-blocks__item.wrap-more
                      .info-blocks__image(style="background-image: url(img/tab-item.jpg)")
                        .info-blocks__title Phase 1
                        button.info-blocks__like
                      h4.info-blocks__title(style="background-image: url(img/country.png)") Submission name
                      p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua

                      .tags
                        a(href="#") #Sustainability
                        a(href="#") #Green

                      a.link View details

                    .info-blocks__item.wrap-more
                      .info-blocks__image(style="background-image: url(img/tab-item.jpg)")
                        h6.info-blocks__title-image Phase 1
                        button.info-blocks__like
                      h4.info-blocks__title(style="background-image: url(img/country.png)") Submission name
                      p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua

                      .tags
                        a(href="#") #Sustainability
                        a(href="#") #Green

                      a.link View details

                    .info-blocks__item.wrap-more
                      .info-blocks__image(style="background-image: url(img/tab-item.jpg)")
                        .info-blocks__title Phase 1
                        button.info-blocks__like
                      h4.info-blocks__title(style="background-image: url(img/country.png)") Submission name
                      p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua

                      .tags
                        a(href="#") #Sustainability
                        a(href="#") #Green

                      a.link View details

                  .text-center
                    button.btn.line.show-more
                      | Ver más (
                      span.count-more
                      |  más)

    #view-table.state-view-content
      .table-responsive
        .wrap-table
          table
            tr
              th Phase
              th Country
              th Submission
              th Description
              th Tags
              th Manager
              th
            tr
              td
                .circle.red Phase 2 | Defining
              td
                h4 Spain
              td
                h4 Submission name
              td
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
              td.text-left
                .tags
                  a(href="#") #Sustainability
                  br
                  a(href="#") #Green
              td
                a(href="#").person-profile AB

              td
                .link View details

            tr
              td
                .circle.dark-red Phase 2 | Defining
              td
                h4 Spain
              td
                h4 Submission name
              td
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
              td.text-left
                .tags
                  a(href="#") #Sustainability
                  br
                  a(href="#") #Green
              td
                a(href="#").person-profile AB

              td
                .link View details
