extends layout/main

block variables
	-var title = 'Landing'

block bottom-header
	.bottom(style="background-image: url(img/landing-header.jpg)")
		.container

block content
	.container
		.d-flex.justify-content-between
			h1 Sustainability
			div
				img(src="img/icons/hart.svg")

		.d-flex.flex-wrap
			h4.bookmark.mr-4 12 Submissions
			h4.like 20 Favorites

		p.mt-4
			| Financial inclusion is the use of financial services by individuals and firms. Financial inclusion allows individuals and firms to take advantage of business opportunities, invest in education, save for retirement, and insure against risks (Demirgüç-Kunt, Beck, and Honohan 2008)1.

		section.sustainability-section
			.d-flex
				div
					h4.text-red Green Growth
					p
						| Long-term projections suggest that without policy changes, the continuation of “business-as-usual” growth will have serious impacts on the climate, natural resources and ecosystems on which economic activities rely. Green growth means fostering economic growth and development, while ensuring that natural assets continue to provide the resources and environmental services on which our well-being relies.
				div.sustainability-section__detail
					.d-flex.flex-wrap
						h4.bookmark.mr-4 12 Submissions
						h4.like 20 Favorites
					.sustainability-section__image(style="background-image: url(img/sustainability-section.jpg)")

					.text-center
						a.btn.line Submit here

		section.sustainability-section
			.d-flex
				div
					h4.text-red Green Growth
					p
						| Long-term projections suggest that without policy changes, the continuation of “business-as-usual” growth will have serious impacts on the climate, natural resources and ecosystems on which economic activities rely. Green growth means fostering economic growth and development, while ensuring that natural assets continue to provide the resources and environmental services on which our well-being relies.
				div.sustainability-section__detail
					.d-flex.flex-wrap
						h4.bookmark.mr-4 12 Submissions
						h4.like 20 Favorites
					.sustainability-section__image(style="background-image: url(img/sustainability-section.jpg)")

					.text-center
						a.btn.line Submit here

		section.sustainability-section
			.d-flex
				div
					h4.text-red Green Growth
					p
						| Long-term projections suggest that without policy changes, the continuation of “business-as-usual” growth will have serious impacts on the climate, natural resources and ecosystems on which economic activities rely. Green growth means fostering economic growth and development, while ensuring that natural assets continue to provide the resources and environmental services on which our well-being relies.
				div.sustainability-section__detail
					.d-flex.flex-wrap
						h4.bookmark.mr-4 12 Submissions
						h4.like 20 Favorites
					.sustainability-section__image(style="background-image: url(img/sustainability-section.jpg)")

					.text-center
						a.btn.line Submit here


		section.inspiration-section.mt-4
			h2 Other categories

			.inspiration-section__wrap
				h4 Post-COVID Recovery

				.row
					.col-lg-4
						.inspiration-section__item
							.image(style="background-image: url(img/img-1.jpg)")
							h6 Ideas 2019 | Fincash
							p
								| Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor…

					.col-lg-4
						.inspiration-section__item
							.image(style="background-image: url(img/img-2.jpg)")
							h6 Ideas 2019 | Fincash
							p
								| Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor…

					.col-lg-4
						.inspiration-section__item
							.image(style="background-image: url(img/img-3.jpg)")
							h6 Ideas 2019 | Fincash
							p
								| Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor…
