extends layout/main

block variables
	-var title = 'Submisison Form'

block content
	section.aside-content-column
		.container
			aside.aside-content-column__gradient
				h1 85%
				p
					| Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore

			form.aside-content-column__content
				h3 Problem submission | Discovery
				h5 Name of the problem
				label(for="input-1") What is the name you want to give your problem?
				.input
					input(id="input-1" placeholder="Name the Problem (max. 50 characters)")
